In [2]:
import pandas as pd
from pathlib import Path

## This week’s topic: Government corruption

source: https://www.transparency.org/en/cpi/2022

Transparency International is a non-profit that tries to track how corrupt (or not) various governments are. They just came out with their rankings for 2022, and I’m happy to say that they made their data available.

For this week’s questions, you’ll need to download the data, which is available here: https://images.transparencycdn.org/images/CPI2022_GlobalResultsTrends.xlsx

With that in hand, I’d like you to answer the following questions:

1. According to Transparency International, what five countries were least corrupt in 2022?
1. According to the same data, what five countries were most corrupt in 2022?
1. Which region of the world was least corrupt?
1. Finally, which five countries have made the greatest improvement in 10 years, between the 2012 report and the 2022 report?

The CPI ranks 180 countries and territories around the world by their perceived levels of public sector corruption, scoring on a scale of 0 (highly corrupt) to 100 (very clean).

In [ ]:
!pip install openpyxl

In [3]:
data = Path("data/CPI2022_GlobalResultsTrends.xlsx")

### 1. According to Transparency International, what five countries were least corrupt in 2022?

In [6]:
df_global = pd.read_excel(data, sheet_name="CPI 2022 (final)", skiprows=2)

In [7]:
df_global.head()

,Country / Territory,ISO3,Region,CPI score 2022,Rank,Standard error,Number of sources,Lower CI,Upper CI,African Development Bank CPIA,...,Economist Intelligence Unit Country Ratings,Freedom House Nations in Transit,Global Insights Country Risk Ratings,IMD World Competitiveness Yearbook,PERC Asia Risk Guide,PRS International Country Risk Guide,Varieties of Democracy Project,World Bank CPIA,World Economic Forum EOS,World Justice Project Rule of Law Index
0,Afghanistan,AFG,AP,24,150,6.299999,4,13.66800,34.33200,NaN,...,NaN,NaN,10,NaN,NaN,NaN,43.0,NaN,NaN,16.0
1,Albania,ALB,ECA,36,101,1.316355,8,33.84118,38.15882,NaN,...,37.0,42.0,35,NaN,NaN,32.0,27.0,NaN,42.0,29.0
2,Algeria,DZA,MENA,33,116,1.673809,6,30.25495,35.74504,NaN,...,37.0,NaN,35,NaN,NaN,24.0,29.0,NaN,NaN,36.0
3,Angola,AGO,SSA,33,116,2.807703,7,28.39537,37.60463,NaN,...,20.0,NaN,47,NaN,NaN,32.0,46.0,NaN,22.0,28.0
4,Argentina,ARG,AME,38,94,2.334808,7,34.17091,41.82909,NaN,...,37.0,NaN,35,24.0,NaN,32.0,47.0,NaN,NaN,44.0

In [9]:
df_global.sort_values("Rank").head(5)

,Country / Territory,ISO3,Region,CPI score 2022,Rank,Standard error,Number of sources,Lower CI,Upper CI,African Development Bank CPIA,...,Economist Intelligence Unit Country Ratings,Freedom House Nations in Transit,Global Insights Country Risk Ratings,IMD World Competitiveness Yearbook,PERC Asia Risk Guide,PRS International Country Risk Guide,Varieties of Democracy Project,World Bank CPIA,World Economic Forum EOS,World Justice Project Rule of Law Index
42,Denmark,DNK,WE/EU,90,1,1.709309,8,87.19673,92.80327,NaN,...,90.0,NaN,83,96.0,NaN,100.0,79.0,NaN,84.0,88.0
55,Finland,FIN,WE/EU,87,2,1.193896,8,85.04201,88.95799,NaN,...,90.0,NaN,83,94.0,NaN,93.0,78.0,NaN,87.0,86.0
116,New Zealand,NZL,AP,87,2,1.405203,8,84.69547,89.30453,NaN,...,90.0,NaN,83,87.0,NaN,93.0,78.0,NaN,85.0,82.0
121,Norway,NOR,WE/EU,84,4,1.168785,7,82.08319,85.91681,NaN,...,90.0,NaN,83,79.0,NaN,85.0,78.0,NaN,NaN,86.0
154,Sweden,SWE,WE/EU,83,5,2.204067,8,79.38533,86.61467,NaN,...,90.0,NaN,83,85.0,NaN,93.0,78.0,NaN,62.0,86.0

### 2. According to the same data, what five countries were most corrupt in 2022?

In [10]:
df_global.sort_values("Rank").tail(5)

,Country / Territory,ISO3,Region,CPI score 2022,Rank,Standard error,Number of sources,Lower CI,Upper CI,African Development Bank CPIA,...,Economist Intelligence Unit Country Ratings,Freedom House Nations in Transit,Global Insights Country Risk Ratings,IMD World Competitiveness Yearbook,PERC Asia Risk Guide,PRS International Country Risk Guide,Varieties of Democracy Project,World Bank CPIA,World Economic Forum EOS,World Justice Project Rule of Law Index
177,Yemen,YEM,MENA,16,176,1.975074,7,12.760880,19.23912,NaN,...,20.0,NaN,10,NaN,NaN,15.0,11.0,10.0,30.0,NaN
175,Venezuela,VEN,AME,14,177,1.296945,8,11.873010,16.12699,NaN,...,20.0,NaN,10,24.0,NaN,15.0,9.0,NaN,13.0,9.0
156,Syria,SYR,MENA,13,178,1.568910,5,10.426990,15.57301,NaN,...,20.0,NaN,10,NaN,NaN,15.0,13.0,NaN,NaN,NaN
149,South Sudan,SSD,SSA,13,178,1.899278,5,9.885183,16.11482,11.0,...,NaN,NaN,10,NaN,NaN,NaN,22.0,10.0,NaN,NaN
147,Somalia,SOM,SSA,12,180,1.738225,6,9.149311,14.85069,11.0,...,NaN,NaN,22,NaN,NaN,6.0,12.0,10.0,NaN,NaN

### 3. Which region of the world was least corrupt?

In [15]:
df_global.groupby("Region")["CPI score 2022"].mean().sort_values(ascending=False).head(1)

Region
WE/EU    65.516129
Name: CPI score 2022, dtype: float64

### 4. Finally, which five countries have made the greatest improvement in 10 years, between the 2012 report and the 2022 report?

In [20]:
df_changes = pd.read_excel(data, sheet_name="CPI Stat. Sig. Changes ", skiprows=2).iloc[:,:5]

In [22]:
df_changes.head()

                  Country ISO3 Region  CPI 2022  CPI 2012
0                  Angola  AGO    SSA        33        22
1                 Armenia  ARM    ECA        46        34
2               Australia  AUS     AP        75        85
3  Bosnia and Herzegovina  BIH    ECA        34        42
4                  Canada  CAN    AME        74        84

In [23]:
df_changes["delta"] = df_changes["CPI 2022"] - df_changes["CPI 2012"]

In [25]:
df_changes.sort_values("delta", ascending=False).head(5)

       Country ISO3 Region  CPI 2022  CPI 2012  delta
26  Seychelles  SYC    SSA        70        52     18
10      Greece  GRC  WE/EU        52        36     16
16       Italy  ITA  WE/EU        56        42     14
31  Uzbekistan  UZB    ECA        31        17     14
12      Guyana  GUY    AME        40        28     12

### Bonus: Which country did not improve but get worse?

In [27]:
df_changes.query("delta < 0").sort_values("delta")

                   Country ISO3 Region  CPI 2022  CPI 2012  delta
24             Saint Lucia  LCA    AME        55        71    -16
21                 Liberia  LBR    SSA        26        41    -15
6                   Cyprus  CYP  WE/EU        52        66    -14
14                 Hungary  HUN  WE/EU        42        55    -13
28                   Syria  SYR   MENA        13        26    -13
29                  Turkey  TUR    ECA        36        49    -13
2                Australia  AUS     AP        75        85    -10
4                   Canada  CAN    AME        74        84    -10
23               Nicaragua  NIC    AME        19        29    -10
11               Guatemala  GTM    AME        24        33     -9
3   Bosnia and Herzegovina  BIH    ECA        34        42     -8
33                   Yemen  YEM   MENA        16        23     -7
20                 Lebanon  LBN   MENA        24        30     -6
13                Honduras  HND    AME        23        28     -5
27               Sri Lanka  LKA     AP        36        40     -4